*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.nav_link {
    display: block;
    color: #000000;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat semibold', sans-serif;
    background-color: #005597;
    text-align: left;
    padding: 13px;
    text-decoration: none;
}

.navigation_container {
    background-color: #005597;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    height: 65px;
}

.menu {
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 3px;
    margin-bottom: 2px;
}

.menu_item {
    font-size: 12px;
    padding: 5px 5px 5px 20px;
}

.logo {
    color: white;
}



/* Telling the navigation list */
/* to hide (max-height=0) */
/* and center text when it shows up */
.menu {
    clear: both;
    text-align: center;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* Mobile friendly menu that must */
/* turn up when clicking on the */
/* burger menu */
.mobilemenu {
    display: none;
    clear: both;
    text-align: center;
    max-height: 0;
    transition: max-height .2s ease-out;
}


/* Show burger icon to the far right */
/* Change mouse cursor on hover from */
/* arrow to hand with finger */
.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    color: white;
}


/* Make beef in burger */
.navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

/* Make bread top and bottom */
.navicon:before,
.navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navicon:before {
    top: 5px;
}

.navicon:after {
    top: -5px;
}

/* End of bread making */

/* ---- Menu Button ---- */


/* Do not show checkbox */
.menu-btn {
    display: none;
}

/* Show menu when you check button */
.menu-btn:checked ~ .mobilemenu {
    display: block;
    max-height: 300px;
}

/* Animate button on click */
.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


.footer {
    padding: 15px;
    height: 50px;
    color: white;
    font-family: 'Montserrat light', sans-serif;
    text-align: center;
    background-color: #005597;
}

.homebg {
    width: 100%;
    height: auto;
}

.logonav {
    margin-top: 25px;
    margin-left: 10px;
}

.headline {
    font-size: calc(100px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'bebas neue', sans-serif;
    text-align: center;
    margin-bottom: 1px;
}

.subline {
    font-size: calc(40px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'montserrat medium', sans-serif;
    text-align: center;
    margin-top: 1px;
}


.articles_preview {
    background-color: #005597;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 100px;
}

.preview_containers {
    width: 320px;
    text-align: center;
}

.left_image {
    padding: 16px 24px 16px 24px;
    max-width: 320px;
    text-align: center;
}

.preview_headline {
    color: white;
    font-size: 43px;
    font-family: 'bebas neue', sans-serif;
}

.first_article {
    text-decoration: none;
}

.preview_txt {
    margin-bottom: 80px;
    font-size: 18px;
    font-family: 'montserrat light', sans-serif;
    color: white;
}

.center_image {
    padding: 16px 24px 16px 24px;
    max-width: 320px;
    text-align: center;
}

.right_image {
    padding: 16px 24px 16px 24px;
    max-width: 320px;
    text-align: center;
}






























@media only screen and (min-width: 1037px) {

    /* Menu on wide screen */

    .menu_item {
        float: left;
    }

    .menu {
        clear: none;
        float: right;
        max-height: none;
        margin-top: 7px;
    }

    .mobilemenu {
        clear: none;
        float: right;
        max-height: none;
    }

    .menu-icon {
        display: none;
    }

}


/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    z-index: 1000;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    border: white solid 1px;
}

/* Add a white background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    color: black;
}



/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
